article.blog-article {
  font-family: "Open Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
  h2, h3 { color: $header-color; }
  h1 {
    font-size: 2.5rem;
    margin: 1rem 0 2rem 0;
    text-align: center;
    small {
      color: $text-color-faded;
      display: block;
      font-size: 1rem;
      font-weight: 400;
      margin-top: 1rem;
    }
  }
  h2 {
    border-bottom: 1px solid $border-color;
    margin-top: 4rem;
    padding-bottom: 0.5rem;
  }
  h3 { margin: 3rem 0 1rem 0; }
  .blog-article-tags {
    margin-bottom: 3rem;
    text-align: center;
  }
  blockquote {
    border-left: 0.25rem solid $border-color;
    color: $text-color-faded;
    margin: 0;
    padding: 0.5rem 2rem;
    p { margin: 0; }
  }
  code {
    background-color: hsla(0, 100%, 50%, 0.05);
    color: #D14;
    font-family: "Source Code Pro", Monaco, monospace;
    padding: 0.1rem 0.3rem;
  }
}

section.blog-article-content {
  color: $text-color;
  line-height: 1.5rem;
}

.blog-article-form {
  width: 100%;
  .flexdatalist-multiple li.input-container input { box-shadow: none; }
  .flexdatalist-multiple li.value { line-height: 29px; }
  .flexdatalist-multiple li.value span.fdl-remove { line-height: 29px; }
}

section.blog-article-sidebar {
  margin: 1rem 0 0 0;
  h3 {
    border-bottom: 1px solid $border-color;
    font-weight: 500;
    margin: 2rem 0 1rem 0;
    padding-bottom: 0.5rem;
  }
  .blog-article-manage {
    background-color: $background-highlight;
    padding: 1rem;
    h3 { margin-top: 0; }
  }
}

ul.blog-sidebar-taglist {
  padding-left: 2rem;
  list-style: square;
  li a {
    display: block;
    padding: 0.3rem 1rem;
    transition: all 0.3s;
    &:hover {
      background-color: $background-highlight;
      text-decoration: none;
      transition: all 0.3s;
    }
  }
}

ul.blog-sidebar-article_list {
  padding-left: 0;
  list-style: none;
  li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    &:hover {
      background-color: $background-highlight;
      text-decoration: none;
      transition: all 0.3s;
    }
  }
  li.blog-sidebar-article_list-header {
    padding: 0.5rem 0;
  }
}

#blogSidebarShareButtons {
  display: flex;
  justify-content: space-around;
  a { font-size: 2rem; }
}

.blog-tag {
  background-color: $background-highlight;
  display: inline-block;
  line-height: 1.3rem;
  margin: 0 0 0.25rem 0.8rem;
  position: relative;
  text-align: left;
  a, em { display: block; padding: 0 1rem 0.1rem 1rem; }
  a { color: $primary-dark; }
  &:before {
    border-right: 0.7rem solid $background-highlight;
    border-top: 0.7rem solid transparent;
    border-bottom: 0.7rem solid transparent;
    content: '';
    height: 0;
    left: -0.7rem;
    position: absolute;
    width: 0;
  }
  &:after {
    background-color: white;
    border-radius: 0.2rem;
    content: '';
    height: 0.4rem;
    position: absolute;
    top: 0.5rem;
    width: 0.4rem;
  }
  span {
    background-color: white;
    height: 1.8rem;
    left: -1rem;
    position: absolute;
    width: 0.5rem;
  }
}

.blog-articles {
  margin-top: 2rem;
  .blog-articles-item {
    border: 1px solid transparent;
    border-bottom-color: $border-color;
    margin-bottom: 1rem;
    padding: 1rem 0;
    h2 { margin: 0 0 1.5rem 0; }
    .blog-articles-item-info {
      display: flex;
      justify-content: space-between;
      margin: 0 0 1.5rem 0;
    }
    .blog-articles-item-summary {
      margin-bottom: 1.5rem;
      p { margin: 0; text-align: justify; }
    }
    &:last-child { border-bottom-color: transparent; }
    &.unpublished {
      border-color: $warning;
      padding-top: 3rem;
      position: relative;
      &:before {
        background: repeating-linear-gradient(
                        45deg,
                        lighten($secondary, 40%),
                        lighten($secondary, 40%) 1rem,
                        white 1rem,
                        white 2rem
        );
        border-bottom: 1px solid lighten($secondary, 40%);
        color: darken($warning, 10%);
        content: attr(data-content);
        font-weight: 600;
        height: 2rem;
        left: 0;
        line-height: 2rem;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
      }
    }
  }
}

.blog-tags-tag_header {
  align-items: center;
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin: 0;
  &:first-child { border-top: none; }
  span { font-size: 1rem; }
}

.blog-comment {
  border-left: 2px solid lighten($border-color, 10%);
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  > .blog-comment-unit {
    align-items: center;
    display: flex;
    h4 {
      color: $link-color;
      font-weight: 500;
      margin: 0 0 0.5rem 0;
      small { color: $text-color-faded; &:before { content: '•'; } }
    }
    span.from-admin { color: $primary-dark; }
  }
  .blog-comment { margin-left: 1rem; padding-right: 0; }
}


// Makes sure the top margin is only for the first comment/reply
.blog-comment + .blog-comment { margin-top: 0; }

// Adjusts the margin for the "Join the Discussion" title
article.blog-article h2.blog-comments-title { margin: 1rem 0 0 0; }

// Adds some space between the body and the "reply" etc links
.blog-comment-content p { margin: 0 0 0.5rem 0; }

// Makes the "reply", "edit", and "delete" links smaller
.blog-comment .blog-comment-actions { font-size: 0.8rem; }

.blog-comments-separator {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: relative;
  span {
    border: 0.3rem solid $border-color;
    border-radius: 50%;
  }
  &:before, &:after {
    border: 0.3rem solid $border-color;
    border-radius: 50%;
    content: '';
    left: 40%;
    position: absolute;
    top: 0;
  }
  &:after { left: auto; right: 40%; }
}

.blog-comment-profile_image {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 50%;
  color: $border-color;
  font-size: 1.8rem;
  height: 3rem;
  line-height: 2.7rem;
  margin-right: 1rem;
  text-align: center;
  width: 3rem;
}

.blog-comment-form {
  background-color: $background-highlight;
  border: 1px solid $border-color;
  padding: 0 1rem;
  margin-top: 1rem;
  .actions {
    background-color: transparent;
    margin-bottom: 1rem;
    padding: 0;
  }
  .field-body { align-items: center; display: flex; }
  .field-name { margin-top: 1rem; }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  article.blog-article h1 { font-size: 3rem; }
  section.blog-article-sidebar { margin: 0 0 0 2rem; }
}
