.devise-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  > div { max-width: 30rem; width: 100%; }
}

.devise-form {
  border: 1px solid $background-highlight;
  padding-top: 2rem;
  text-align: center;
  .field {
    padding: 0 2rem;
    text-align: left;
  }
}
