footer {
  align-items: center;
  background-color: $background-highlight;
  color: $text-color-faded;
  display: flex;
  height: 12rem;
  padding: 1rem;
  width: 100%;
  a {
    color: $text-color-faded;
    display: inline-block;
    padding: 1rem 0;
    &:hover { color: $text-color; }
  }
  h4 {
    color: $primary-dark;
    font-weight: 500;
    margin: 1rem 0;
  }
  div.footer-center { align-self: center; }
  p { margin: 0; }
}
