form.form-inline { display: inline-block; }

form .field {
  margin-bottom: 1rem;
  input[type="text"], input[type="email"], input[type="number"],
  input[type="password"] {
    width: 100%;
  }
  textarea { resize: none; width: 100%; }
  small { color: $text-color-faded; }
}

form .actions {
  background-color: $background-highlight;
  padding: 1.5rem 1rem;
}
