h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Helvetica, "Helvetica Neue", Arial, sans-serif;
}

h2.page-title { color: $gray-600; }

.main {
  background-color: $white;
  -webkit-box-shadow: 0 0 20px 0 $gray-200;
  -moz-box-shadow: 0 0 20px 0 $gray-200;
  box-shadow: 0 0 20px 0 $gray-200;
  padding: 2rem;
}
