* {
  box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $gray-900;
  font-size: 14px;
}

strong { font-weight: 600; }

a {
  color: $primary;
  font-weight: 600;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

@media screen and (min-width: 48em) {
  html { font-size: 16px; }
}

@media screen and (min-width: 64em) {
  html { font-size: 18px; }
}


h1, h2, h3, h4, h5, h6 {
  color: $gray-800;
  font-family: 'Rubik', "Helvetica Neue", Helvetica, Calibri, "Gill Sans",
    "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", Tahoma,
    Geneva, Arial, sans-serif;
  font-weight: 600;
}

h1.page-title {
  border-bottom: 1px solid $gray-300;
  padding-bottom: 0.5rem;
}


.main-content { padding: 1rem 0; }

form.form-inline { display: inline-block; }

.text-center { text-align: center; }
