* {
  box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $text-color;
  font-size: 14px;
  height: 100%;
}

body {
  background-attachment: fixed;
  background-color: $gray-200;
  background-image: image-url('bg.svg');
  background-position-y: 64px;
  height: 100%;
}

strong { font-weight: 600; }
hr { border: none; border-bottom: 1px solid $border-color; }

a {
  color: $link-color;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
    transition: all 0.2s;
  }
}


h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  font-family: 'Rubik', "Helvetica Neue", Helvetica, Calibri, "Gill Sans",
  "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", Tahoma,
  Geneva, Arial, sans-serif;
  font-weight: 400;
  a { font-weight: 400; }
}

h1.page-title {
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.5rem;
}

.main {
  min-height: calc(100% - 24rem);
}

.main-content {
  background-color: white;
  margin: 0;
  padding: 2rem 1rem;
}

form.form-inline { display: inline-block; }
.text-center { text-align: center; }

dl.horizontal-dl {
  dt, dd { display: inline; margin: 0; }
  dt { font-weight: 600; }
  dt:after { content: ':'; display: inline-block; margin-bottom: 1rem; }
  dd:after { content: '\A'; white-space: pre; }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .main { min-height: calc(100% - 20rem); }
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  html { font-size: 16px; }
  .main-content { box-shadow: 2px 2px 10px $border-color; margin: 1rem 0; }
  .main { min-height: calc(100% - 16rem); }
}
