$white:    #fff !default;
$gray-100: #F9FAFB;
$gray-200: #e0e7eb;
$gray-300: #c2ced6;
$gray-400: #a3b6c2;
$gray-500: #7592a3;
$gray-600: #5c788a;
$gray-700: #475d6b;
$gray-800: #34444E;
$gray-900: #1F282E;
$black:    #000 !default;

$blue:    #3388EE;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #E7A71F;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $yellow !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
), $theme-colors);

$primary-dark: darken($primary, 25%);

$body-bg:                   $gray-100;
$body-color:                $gray-800;
$border-color: $gray-300;
$background-highlight: $gray-200;
$text-color: $gray-900;
$text-color-faded: $gray-700;
$link-color: darken($secondary, 20%);
$link-color-hover: $secondary;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
        sm: 35.5em,
        md: 48em,
        lg: 64em,
        xl: 80em
) !default;
