<% if policy(article).update? %>
  <div class="blog-article-manage">
    <h3><%= t '.title' %></h3>
    <%= article.edit_button(true) %>
    <%= article.delete_button(true) %>
    <%= article.publish_button(true) %>
  </div>
<% end %>
