<h1><%= t '.title' %></h1>

<%= link_to t('.new'), new_blog_article_path,
            class: 'pure-button pure-button-block button-primary' %>

<%= render partial: 'articles/articles', locals: { articles: @articles } %>