<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><%= t(:title) %></h1>
      <p class="lead"><%= t(:description) %></p>
    </div>
    <p></p>
  </div>
</header>
