<div class="header-menu">
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <% if current_user&.admin? %>
        <li class="pure-menu-item">
          <%= link_to Blog::Article.model_name.human.pluralize,
                      blog_articles_path, class: 'pure-menu-link' %>
        </li>
        <li class="pure-menu-item">
          <%= link_to User.model_name.human.pluralize,
                      users_path, class: 'pure-menu-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
